 
{{ define "footer" }}

<footer>
    <div class="footer">
        <div class="footer-cell">
            <a class="footer-item-left" href="mailto:email@mikewebster.tech">Contact</a>
        </div>
    </div>
</footer>

{{ end }}