{{ define "header" }}
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Homepage by Mike Webster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ end }}