<!DOCTYPE html>
<html>
    <head>
        {{ template "header" }}
    </head>
    <body>
        <div class="content">
            <div style="text-align:center;min-height: 480px;">
                <h1>Homepage</h1>
                <h4>Beta</h4>
            </div>
            <br />
        </div>
        
        {{ template "footer" }}
    </body>
</html>